.article code {
    background: transparent;
}

.article p > img {
    margin: 0 auto;
    display: block;
    max-height: 420px;
    max-width: 100%;
}

@media screen and (min-width: 800px) {
    .article p > img {
        max-width: 80%;
    }
}

.article pre code {
    font-size: 14px;
    line-height: 1.5;
}

.article .admonition code {
    color: #fff;
    font-weight: bold;
}

.article .admonition a code {
    padding: 3px;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}

.article .admonition.methods {
    background: #ffe082;
    border-top: 1px solid rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(0,0,0,0.1);
    color: rgba(0,0,0,0.46);
}

.article .admonition.methods > ul {
    margin-top: 0;
}
