.md-typeset iframe, .md-typeset img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 800px) {
    .md-typeset iframe, .md-typeset img {
        max-width: 80%;
    }
}

.md-header-nav__button img {
    width: 32px;
    height: 32px;
    margin-top: -4px;
    margin-bottom: -4px;
}
