.md-typeset iframe, .md-typeset img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 800px) {
    .md-typeset iframe, .md-typeset img {
        max-width: 80%;
    }
}
