.article code {
    background: transparent;
}

.article figure img {
    margin: 0 auto;
    display: block;
    max-height: 450px;
    max-width: 100%;
}

@media screen and (min-width: 800px) {
    .article figure img {
        max-width: 80%;
    }
}

.article figure figcaption {
    text-align: center;
}

.article figure figcaption h4 {
    margin: 0;
    padding: 0;
}

.article pre code {
    font-size: 12px;
    line-height: 1.5;
}
