body {
  background: #ffffff;
}

#header {
  background: #009688;
  border-bottom: 0px;
}

#headerLeft {
  bottom: 0;
  top: 0;
  left: 10px;
}

#headerRight {
  top: 0;
  bottom: 0;
  right: 10px;
  display: table;
  height: 100%;
}

#masthead-title {
  color: #ffffff;
  font-size: 1.5em;
}

#search {
  display: table-cell;
  vertical-align: middle
}

#searchForm {
  margin: 0 auto;
}

#search-button {
  padding: 5px;
}

#searchForm td.gsc-input {
  padding-right: 10px;
}

#searchForm input.gsc-input {
  padding: 5px;
}

#search_filtered_div {
 margin-top: 5px;
 position: absolute;
}

#search_filtered td {
  line-height: 2.0em;
}

#header .gsc-search-box {
  margin: 0;
}

#search_filtered .jd-selected {
  background-color: #0767a4;
}

#nav-panels {
  background: #f9f9f9;
}

.ui-resizable-s {
  background: #cccccc;
}

.ui-resizable-e {
  background: #cccccc;
}

tr.alt-color {
  background: #f0f0f0;
}

.jd-tagtable td, .jd-tagtable th {
  background: transparent;
}

#index-links .selected {
  background: transparent;
  font-weight: bold;
}

th {
  background: #9cacbe;
}

h4.jd-details-title {
  padding: 4px 8px;
}


a, a:visited {
  color: #437dbe;
}

a:hover, a:active {
  color: #f08000;
}